<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>MISAyang Samahan - Family Quiz</title>
</head>

<body class="min-h-screen flex flex-col">
    <!-- Header Partial Placeholder -->
    <div id="header-placeholder"></div>

    <!-- Main Content -->
    <main>
        <div id="result-container" class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
            <div class="bg-gray-100 shadow-lg rounded-lg p-8 md:p-12 mb-8" style="color: <%= family.color  %>; border: 10px solid <%= family.color  %>">
                <h1 class="text-3xl md:text-5xl font-extrabold mb-2 text-center" id="result-head"><%= family.head %><br>Welcome to the...</h1>
                <img class="mx-auto my-4 drop-shadow-md h-30 object-contain" src="/images/family_icons/<%= family.family %>.png">
                <p id="family-result" class="text-center" style="color: <%= family.color  %>"><%= family.body %></p>
            </div>
        </div>
        
    </main>

    <!-- Footer Partial Placeholder -->
    <div id="footer-placeholder"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/partials.js"></script>
</body>

</html>